HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
### 因为MVN很少升级所以要屏蔽mvn相关文件 ###
###mvnw是linnux的文件###
mvnw
###mvnw.cmd是windows的文件###
mvnw.cmd
###屏蔽mvn下所有文件###
.mvn
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
